<!DOCTYPE html>
<html>
<head>
  <title>AuctionSite</title>
  <%= stylesheet_link_tag    'application' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <head>Auction Site</head>

  <%= yield %>

  <body>
    Developed by Christian in Ruby On Rails
  </body>

</body>
</html>
